<!DOCTYPE html>
<html lang="en">

<head>
  <title>Slightly Bad Directions</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js" defer></script>
  <script src="/scripts/map-functions.js" ></script>

  <style>
    /* Set the size of the div element that contains the map */
   #map {
     height: 800px;  /* The height is 400 pixels */
     width: 100%;  /* The width is the width of the web page */
    }
 </style>
</head>

<body>

  <nav id="navBar">
    <span id="title"> <b> Slightly Bad Directions </b> </span>
    <div id="nav-buttons">
      <div id="map-list">
        <div class="dropdown">
          <button class="dropbtn">My Maps</button>
          <div class="dropdown-content">
            <p id="map-container">Maps go here</p>
            <a href="#">My Map 1</a>
            <a href="#">My Map 2</a>
            <a href="#">My Map 3</a>
          </div>
        </div>
    </div>
      <button class="btn-default" id="myMaps"> Logged in as bad@directions.com </button>
    </div>

  </nav>
  <div id="map-page">
    <div id="map">
      </div>

      <div id="fullSidebar">

        <div id="mySidebar" class="sidebar">
<<<<<<< HEAD
=======
          <p id="pin-container">Pins will go here  </p>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
>>>>>>> 539041924cfb17e49d19e059790aa3c0371a6b96
          <a href="#">Pins</a>
          <a href="#">Probably</a>
          <a href="#">Need</a>
          <a href="#">A Loop</a>
        </div>

        <div id="main">
          <button class="openbtn">&#9776; Pins</button>
        </div>

      </div>


    </div>

  </div>

</body>

</html>
