<!DOCTYPE html>
<html lang="en">

<head>
  <title>Slightly Bad Directions</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js" defer></script>

  <style>
    /* Set the size of the div element that contains the map */
   #map {
     height: 800px;  /* The height is 400 pixels */
     width: 100%;  /* The width is the width of the web page */
    }
 </style>
</head>

<body>

  <nav id="navBar">
    <span id="title"> <b> Slightly Bad Directions </b> </span>
    <div id="nav-buttons">
      <div id="map-list">
        <div class="dropdown">
          <button class="dropbtn">My Maps</button>
          <div class="dropdown-content">
            <a href="#">My Map 1</a>
            <a href="#">My Map 2</a>
            <a href="#">My Map 3</a>
          </div>
        </div>
    </div>
      <button class="btn-default" id="myMaps"> Logged in as bad@directions.com </button>
    </div>
    
  </nav>
  <div id="map-page">
    <div id="map"> 
      </div>

      <div id="fullSidebar">

        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">Pins</a>
          <a href="#">Probably</a>
          <a href="#">Need</a>
          <a href="#">A Loop</a>
        </div>
        
        <div id="main">
          <button class="openbtn" onclick="openNav()">&#9776; Pins</button>
        </div> 
  
          <script>
            function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
          </script>
      </div>

    
    </div>

  </div>

</body>

</html>
