<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Shrikhand&family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <title>Slightly Bad Directions</title>

  <script src="https://kit.fontawesome.com/9631902b43.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

</head>

<body>

  <nav id="navBar">
    <span id="title"> Slightly Bad Directions </span>
    <div id="nav-buttons">
      <div id="map-list">
        <div class="dropdown">
          <button class="dropbtn" id="all-maps-btn">Explore</button>
          <div class="dropdown-content">
            <div id="dropdown-container">
              <div class="map-container" id="all-maps"></div>
            </div>

          </div>
        </div>
    </div>
    <% if(user_id){%>
      <div id="map-list">
        <div class="dropdown">
          <button class="dropbtn" id="my-maps">My Maps</button>
          <div class="dropdown-content">
            <button id="create-map">Create Map</button>
            <div id="dropdown-container">
              <div class="map-container" id="my-map-container"></div>
              <button id="favorite-map">Favorite Maps</button>
              <div id="favorite-map-container"></div>
            </div>

          </div>
        </div>
    </div>
    <button id="login-view" > <%= username %> <i class="fas fa-user"></i> </button>
    <form action="/logout" method="GET">
      <button id="logout" > logout </button>
    </form>
    <%} else {%>
        <button id="login" > login </button>
      <%}%>
    </div>
  </nav>

  <div id="image-box">
    </div>

  <div class="wrapper">
    <div id="map"></div>
    <div class="content">
    </div>
  </div>

  <div id="fullSidebar">
      <div id="main">
        <button class="openbtn">&#9776; Spots</button>
      </div>
    <div id="mySidebar" class="sidebar">
    </div>



  </div>
      </div>
      <div id="map-description">
       </div>
       <div id="add-spot"></div>

       <div id="get-lost">
          <button class="dropbtn" id="get-lost-btn">Get Lost</button>
          </div>>




  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js" defer></script>
  <script src="/scripts/map-functions.js" ></script>
</body>

</html>
