<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Shrikhand&display=swap" rel="stylesheet">
  <title>Slightly Bad Directions</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


</head>

<body>

  <nav id="navBar">
    <span id="title"> Slightly Bad Directions </span>
    <div id="nav-buttons">
      <div id="map-list">
        <div class="dropdown">
          <button class="dropbtn">My Maps</button>
          <div class="dropdown-content">
            <div id="dropdown-container">
              <div id="map-container"></div>
            </div>

          </div>
        </div>
    </div>
      <button class="btn-small" id="myMaps"> bad@directions.com </button>
    </div>
  </nav>
  <div class="wrapper">
    <div id="map"></div>
    <div class="content">
    </div>
  </div>
      <p id="pin-container"></p>
      <div id="fullSidebar">
        <div id="main">
          <button class="openbtn">&#9776; Pins</button>
        </div>
        <div id="mySidebar" class="sidebar">
       </div>

      

      </div>


    </div>

  </div>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js" defer></script>
  <script src="/scripts/map-functions.js" ></script>
</body>

</html>
