html {
  overflow: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #5780ab;
  background-image: url("https://www.transparenttextures.com/patterns/wavecut.png");
}

body h1 {
  color: #244751;
}

#title {
  color: black;
  margin: 10px 30px;
}

#navBar {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 99%;
  margin: 10px 10px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}

#title {
  font-size: 25px;
  font-family: 'Shrikhand';
  padding-right: 40px;
  padding-top: 35px;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#fullSidebar {
  position: absolute;
  right: 0;
  display: flex;
  top: 200px;
  /* flex-direction: column;*/
}

#pin-container {
  display: flex;
  padding: 2px 2px;
}

.dropdown-content {
  display: block;
}

#map-container {
  color: red;
  display: block;
  align-content: center;
  padding: 4px 4px;
  height: 180px;
  overflow: auto;
}

/* The sidebar menu */
.sidebar {
  justify-content: right;
  height: 293px;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  z-index: 2;
  /* Stay on top */
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding: 30px 0;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  color: white;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
  /* height: 100%; */
  /* display: none; */
  /* width: 50px;*/
}

.openbtn:hover {
  background-color: #444;
}

button.pin_title:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
}

#nav-buttons {
  right: 15px;
  display: flex;
  z-index: 3;
  padding-right: 20px;
}

#map-list {
  padding-right: 20px;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  padding-top: 40px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

button.pin_title {
  background: none;
  color: white;
  border: none;
  outline: none;
}

#map-description {
  position: absolute;
  margin-left: 20px;
  display: block;
  bottom: 20px;
  max-width: 400px;
  max-height: 350px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-style: inset;
  border-radius: 20%;
}

#create-map {
  width: 100%;
  background-color: lightgray;
  height: 50px;
  inline-size: none;
  outline: none;
}

#favorite-map {
  width: 100%;
  background-color: lightgray;
  height: 50px;
  inline-size: none;
  outline: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
